* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(#e66465, #9198e5);
}
.calc {
  display: grid;
  grid-template-rows: 2fr 7fr;
  row-gap: 30px;
  height: 600px;
  width: 400px;
  padding: 20px 10px 10px 10px;
  border: 4px solid white;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.15);
}
@media (min-width: 320px) and (max-width:767px) {
  .calc {
    height: 500px;
    width: 250px;
  }
}
.calc-screen {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.calc-screen__field {
  width: 380px;
  height: 100%;
  border: 2px solid white;
  border-radius: 7px;
  font-size: 60px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: right;
  align-items: center;
  overflow: hidden;
}
@media (min-width: 320px) and (max-width:767px) {
  .calc-screen__field {
    width: 230px;
    font-size: 40px;
  }
}
.calc-input {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.calc-btn {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 65px;
  height: 65px;
  color: white;
  font-weight: bold;
  font-size: 36px;
  border: 2px solid white;
  border-radius: 7px;
  cursor: pointer;
  user-select: none;
}
.calc-btn:last-child {
  background-color: #76a9d6;
}
@media (min-width: 320px) and (max-width:767px) {
  .calc-btn {
    width: 40px;
    height: 40px;
    font-size: 24px;
  }
}
.calc-btn:hover {
  background-color: rgba(255, 255, 255, 0.418);
}
