@import "vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
}

.App {
}

//compress: false

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: @bg-cover;
}

.calculator {
  display: grid;
  grid-template-rows: 2fr 7fr;
  row-gap: 30px;
  height: 600px;
  width: 400px;
  padding: 20px 10px 10px 10px;
  border: #library.borders[secondary];
  border-radius: #library.border-rad[primary];
  background: @bg-color;

  @media @phone-tablet {
    height: 500px;
    width: 250px;
  }

  &-screen {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    &__field {
      width: 380px;
      height: 100%;
      border: #library.borders[primary];
      border-radius: #library.border-rad[primary];
      font-size: 60px;
      font-weight: bold;
      color: @text-color;
      display: flex;
      justify-content: right;
      align-items: center;
      overflow: hidden;

      @media @phone-tablet {
        width: 230px;
        font-size: 40px;
      }
    }
  }

  &-input {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  &-btn {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 65px;
    height: 65px;
    color: @text-color;
    font-weight: bold;
    font-size: 36px;
    border: #library.borders[primary];
    border-radius: #library.border-rad[primary];
    cursor: pointer;
    user-select: none;

    &:last-child {
      background-color: @result-color;
    }

    @media @phone-tablet {
      width: 40px;
      height: 40px;
      font-size: 24px;
    }

    &:hover {
      background-color: @hover-color;
    }
  }
}
